@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Source Sans Pro', sans-serif;
}

.gradient {
  /* background: #9adce0; */
  background: linear-gradient(90deg, #3cc4c4 0%, #9adce0 100%);
}

.gradient-footer {
  background: 
    linear-gradient(180deg, #ffffff 1%, rgba(255, 255, 255, 0) 50%), /* Vertical fade to white */
    linear-gradient(90deg, #3cc4c4 0%, #9adce0 100%); /* Horizontal gradient from left to right */
  background-blend-mode: screen; /* Adjust blend mode to achieve the desired effect */
}

.blue {
  background: #3cc4c4
}

.fa-3xl {
  font-size: 2.5rem;
}

.fa-4xl {
  font-size: 3.5rem;
}
.h-101 {
  height: 30rem;
}

.h-video {
  height: 22.1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-brown {
  color: #eac978;
}

.donate-button {
  color: #e9bc4c;
}

.h-carousel {
  height: 45rem;
}

.ba-img {
  height: 28rem;
  width: 28rem;
}

.quiz-box {
  min-height: 38rem;
  width: 90rem;
}

.quiz-box-small {
  min-height: 34rem;
}

.w-visit {
  width: 35rem;
}

.w-visit1 {
  width: 55rem;
}

.fixed-button {
  position: absolute;
  bottom: 2.5rem;
}

.h-animal-image {
  min-height: 25rem;
}

.back-button {
  top: 0rem;
  left: 0rem;
}

.forward-button {
  top: 0rem;
  right: -1rem
}

.dots {
  bottom: -1.5rem;
}

@media only screen and (max-width: 767px) {
  /* Targeting iPhone screen sizes and similar */
  .description {
    display: none;
  }
}

.difference-image {
  height: 20rem;
  width: 40rem;
  object-fit: cover;
}